.compare-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.compare-student-homes {
    height: 488px;
    width: 1280px;
    background-color: #F6FAFD;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 24px;

}

.compare-student-homes h1 {
    flex-basis: 100%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: -10px;
    font-weight: 500;
}

.compare-student-homes h2 {
    flex-basis: 100%;
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
}

.compare-search {
    width: 360px;
    text-align: center;
}

.compare-compare {
    width: 360px;
    text-align: center;
}

.compare-bills {
    width: 360px;
    text-align: center;
}

.select-compare-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 120px;
}

.select-compare {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
}

.compare-icons {
    padding-top: 30px;
}

.best-selection {
    margin-top: 10px;
}

.your-favorite {
    margin-top: 40px;
}

.best-selection,
.your-favorite {
    height: 148px;
    width: 440px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 100px;    
}

.best-selection h2,
.your-favorite h2 {
  margin-left: 10px;
  font-weight: 500;
}

.best-selection p,
.your-favorite p {
  margin-top: -20px;
  line-height:30px;
  margin-left: 75px;
  font-weight: 500;
}


.compare-image-container {
    height: 493px;
    width: 456px;
    margin-left: 200px;
}

.compare-container button {
    height: 48px;
    width: 240px;
    margin: 40px 0 0 70px;
    background-color: #3A5295;
    border-radius: 12px;
    border: none;

    font-size: 20px;
    color: #FFFFFF;
}


@media (max-width: 1000px) {
    .compare-student-homes {
        height: 1036px;
        width: 636px;
    }

    .best-selection,
    .compare-icons, .your-favorite,
    .compare-image-container {
        display: none;
    }

    .search-and-compare button{
        margin: 0 0 10vh 0;
    }

    .search-and-compare {
        margin: -30% 0 10vh 0;
    }



}

@media (max-width: 480px) {
    .search-and-compare {
        margin-bottom: 0;
    }
}