.property-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.property-card {
    height: 500px;
    width: 400px;
    margin: 40px 20px;
}

.property-card img{
    height: 260px;
    width: 400px;
    border-radius: 24px 24px 0 0;
    
}

.rent-shower {
    height: 80px;
    width: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgba(58, 82, 149, 1);
    color: #FFFFFF;
    margin-top: -4px;
}

.property-rent {
    padding-left: 20px;
    line-height: 0.5;
}

.property-rent h3{
    font-size: 24px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.property-rent p{
    font-size: 12px;
}

.bed-bath {
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.type-furnished {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-right: solid;
    border-left: solid;
    border-color: rgba(206, 211, 216, 1);
    border-width: 1px;
    padding: 10px 20px;
}

.address {
    display: flex;
    align-items: center;
    border-right: solid;
    border-left: solid;
    border-bottom: solid;
    border-color: rgba(206, 211, 216, 1);
    border-width: 1px;
    padding: 0 20px 24px 20px;
}

.view-home-button {
    text-align: center;
    border-right: solid;
    border-left: solid;
    border-bottom: solid;
    border-radius:0 0 24px 24px;
    border-color: rgba(206, 211, 216, 1);
    border-width: 1px;
    padding: 13px 0 11px 0;
}