.city-card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 80px 0 80px;
    justify-content: space-around;
}

.city-card {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.city-card h2 {
    font-size: 40px;
    margin: 5vh 0 0 0;
    font-weight: 600;
}

.city-card p {
    font-size: 20px;
}

@media (max-width: 1000px) {

    .city-card-container {
        margin: 0;
        

    }
    .city-card {
        width: 300px;
        height: 225px;
        

    }
  
    .city-card-container p {
      font-size: 3vh;
      padding: 0 10vh;
    }
  }
  
  @media (max-width: 480px) {
    .city-card h1 {
      font-size: 4vh;
      padding: 0 20vh;
    }
  
    .banner-container p {
      font-size: 1vh;
    }
  }