.see-all-cities-container {
    text-align: center;
}

.see-all-cities-container h2{
    margin: 40px;
    font-weight: 500;

}

.see-all-cities-button {
    height: 48px;
    width: 200px;
    background-color: #3A5295;
    border: #3A5295;
    border-radius: 12px;
    cursor: pointer;

    color: #FFFFFF;
    font-size: 20px;
    margin: 48px 0 80px 0;
}

@media (max-width: 480px) {
    .see-all-cities-container {
        margin-top: 0px;
    }
}