.header-container {
    height: 60px;
    background-color: #00A2E1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vh;
  }
  
  .icon-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .icon-logo svg {
    font-size: 5vh;
    color: #FFFFFF;
    margin-right: 1vh;
  }
  
  .icon-logo a {
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 5vh;
    color: #FFFFFF;
  }
  
  .header-buttons a {
    text-decoration: none;
    background-color: transparent;
    border: none;
    margin-left: 5vh;
    font-size: 2vh;
    color: #FFFFFF;
  }
