.header-container {
  height: 60px;
  background-color: #00A2E1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vh;
}

.hide-on-mobile {
  display: none;
}

.mobile-menu-icon {
  display: none;
}

.icon-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-logo svg {
  font-size: 5vh;
  color: #FFFFFF;
  margin-right: 1vh;
}

.icon-logo a {
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 5vh;
  color: #FFFFFF;
}

.header-buttons a {
  text-decoration: none;
  background-color: transparent;
  border: none;
  margin-left: 5vh;
  font-size: 2vh;
  color: #FFFFFF;
}

.contact-us-modal-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: #00A2E1;
}

.contact-us-modal-title-container {
  width: 936px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.contact-us-modal-input {
  height: 104px;
  width: 303px;
  margin-bottom: 24px;
  padding: 0 20px;
}

.contact-us-modal-input input {
  height: 56px;
  width: 400px;
  border-radius: 12px;
  border-color: rgba(206, 211, 216, 1);
  border-width: 0.5px;
}

@media screen and (max-width: 600px) {

  .header-container {
    padding: 0 16px;
  }

  .icon-logo svg {
    font-size: 48px;
  }

  .icon-logo a {
    font-size: 19px;
  }

  .hide-on-mobile {
    display: block;
  }

  .header-buttons{
  }
  .header-buttons a{
    margin: 0 10px;
  }

  .mobile-menu-icon {
    margin: 0 0 0 -100px;
  }

  /* Hide elements on larger screens */
  .hide-on-desktop {
    display: none;
  }

  .contact-us-modal-title-container {
    width: 360px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .contact-us-modal-input {
    height: 104px;
    width: 400px;
    margin-bottom: 24px;
    padding: 0 20px;
  }

  .contact-us-modal-input input {
    height: 56px;
    width: 400px;
    border-radius: 12px;
    border-color: rgba(206, 211, 216, 1);
    border-width: 0.5px;
  }

  .mobile-menu-icon {
    display: block;
  }
}
