.banner-container {
    height: 548px;
}

.banner-text {
    height: 480px;
    background-color: aqua;
    background-image: url(C:\Users\benla\Documents\GitHub\unilife\src\assets\Images\London-Skylineshutterstock_1047408736.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .banner-text h1 {
    margin: 0;
    color: #FFFFFF;
    font-size: 8vh;
    font-weight: 500;
    padding: 0 65vh;
    

  }
  
  .banner-text p {
    margin-top: 2vh;
    color: #FFFFFF;
    font-size: 4vh;

  }


  @media (max-width: 1000px) {
    .banner-container h1 {
      font-size: 5vh;
      padding: 0 10vh;
    }
  
    .banner-container p {
      font-size: 3vh;
      padding: 0 10vh;
    }
  }
  
  @media (max-width: 480px) {
    .banner-container h1 {
      font-size: 4vh;
      padding: 0 20vh;
    }
  
    .banner-container p {
      font-size: 1vh;
    }
  }