.banner-container {
    height: 548px;
}

.banner-text {
    height: 480px;
    background-color: aqua;
    background-image: url(C:\Users\benla\Documents\GitHub\unilife\src\assets\Images\London-Skylineshutterstock_1047408736.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .banner-text h1 {
    margin: 0;
    color: #FFFFFF;
    font-size: 8vh;
    padding: 0 65vh;
    

  }
  
  .banner-text p {
    margin-top: 2vh;
    color: #FFFFFF;
    font-size: 4vh;

  }
  
.banner-search {
    position: relative;
    height: 128px;
    width: 1112px;
    margin: 0 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    top: -10vh;
    left: 8%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner-search input{
    height: 48px;
    width: 557px;
    color: #CED3D8;
    font-size: 20px;
    text-indent: 3vh;

    background-color: #FFFFFF;
    border: solid;
    border-width: 1px;
    border-color: #CED3D8;
    border-radius: 12px;
}

::placeholder{
    font-size: 20px;
    color: #CED3D8;
    text-indent: 3vh;
}

.banner-search button{
    height: 48px;
    width: 348px;

    color: #FFFFFF;
    font-size: 20px;
    background-color: #3A5295;
    border: solid;
    border-width: 1px;
    border-color: #3A5295;
    border-radius: 12px;
}


  @media (max-width: 1000px) {
    .banner-container h1 {
      font-size: 5vh;
      padding: 0 10vh;
    }
  
    .banner-container p {
      font-size: 3vh;
      padding: 0 10vh;
    }
  }
  
  @media (max-width: 480px) {
    .banner-container h1 {
      font-size: 4vh;
      padding: 0 20vh;
    }
  
    .banner-container p {
      font-size: 1vh;
    }
  }