.banner-container {
    height: 548px;
}

.banner-text {
    height: 480px;
    background-image: url(../../../src/assets/Images/cover-img.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .banner-text h1 {
    margin: 0;
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 500;
    padding: 0 334px;

  }
  
  .banner-text p {
    margin-top: 2vh;
    color: #FFFFFF;
    font-size: 4vh;
    padding: 0 40vh;
    line-height:36px;

  }


  @media (max-width: 1000px) {
    .banner-text h1 {
      font-size: 40px;
      padding: 34px 70px 0 70px;
    }
  
    .banner-text p {
      font-size: 3vh;
      padding: 0 10vh;
    }
  }
  
  @media (max-width: 600px) {

    .banner-container {
      height: 300px;
  }

    .banner-text{
      height: 300px;
      justify-content: start;
      padding-top: 32px;

    }

    .banner-text h1 {
      font-size: 40px;
      padding: 0 40px;
    }
  
    .banner-text p {
      font-size: 20px;
      padding: 0;
    }
  }