.banner-search {
    position: relative;
    height: 128px;
    width: 1112px;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    top: -19vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner-search input{
    height: 48px;
    width: 557px;
    color: #CED3D8;
    font-size: 20px;
    text-indent: 3vh;

    background-color: #FFFFFF;
    border: solid;
    border-width: 1px;
    border-color: #CED3D8;
    border-radius: 12px;
}

::placeholder{
    font-size: 20px;
    color: #CED3D8;
    text-indent: 3vh;
}

.banner-search button{
    height: 48px;
    width: 348px;

    color: #FFFFFF;
    font-size: 20px;
    background-color: #3A5295;
    border: solid;
    border-width: 1px;
    border-color: #3A5295;
    border-radius: 12px;
}

.banner-city {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    width: 1279px;
    padding: 0 20px;
}

.banner-city input {
    height: 48px;
    width: 282px;
}

.banner-city h3 {
    text-align: start;
    margin: 0 0 10px 0;
}


@media (max-width: 1000px) {
    .banner-search {
      height: 96px;
      width: 80%;
    margin: 0 auto; /* Center horizontally */

    }
  
    .banner-search input {
        height: 5vh;
        font-size: 3vh;
        width: 70%;
    }
  
    .banner-search button {
        height: 5vh;
        font-size: 2vh;
        width: 20%;
    }
  }